body {
  font-family: raleway, sans-serif; }

/* header - nav */
.wrapper-box {
  width: 100%;
  height: 100vh;
  background-image: url("../img/bg.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover; }

.navbar {
  padding: 20px 0px 20px 0px; }

.brand-box {
  width: 60px; }

/* header - nav - menu */
.menu-box > .list {
  margin: 0px 15px; }
  .menu-box > .list > .link {
    color: #000;
    font-weight: 500;
    text-transform: uppercase; }

.banner-box {
  width: 100%;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  padding: 0px 20px 0px 20px; }
  .banner-box > .title {
    font-size: 3.25rem;
    font-weight: 900;
    text-transform: uppercase; }
  .banner-box > .subtitle {
    font-size: 1.50rem;
    font-weight: bold; }
  .banner-box > .text {
    font-size: 1rem; }

/* Services */
.services {
  padding: 70px 0px 70px 0px; }

.box-title {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0px 0px 130px 0px; }
  .box-title > .title {
    font-size: 2rem;
    font-weight: 900; }
  .box-title > .subtitle {
    font-size: 1rem;
    text-transform: uppercase;
    text-align: center;
    padding: 0px 20px 0px 20px; }
  .box-title::after {
    content: url("../img/linha.png");
    display: block; }

.service-item {
  width: auto;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center; }
  .service-item > .img {
    width: 80px;
    max-width: 100%;
    padding: 0px 0px 30px 0px; }
  .service-item > .title {
    font-size: 1.25rem;
    font-weight: bold;
    padding: 0px 0px 15px 0px; }
  .service-item > .text {
    font-size: 1rem;
    line-height: 1.7rem; }

/* about */
.about {
  padding: 70px 0px 70px 0px; }

.about-item > .text {
  text-align: center;
  font-size: 1rem;
  line-height: 1.9rem; }

/* Process */
.process {
  padding: 70px 0px 70px 0px; }

.process-item {
  position: relative;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  padding: 0px 20px 0px 20px; }
  .process-item > .num {
    width: 50px;
    height: 50px;
    background: #000;
    color: #fff;
    font-size: 1.25rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 50%;
    -webkit-transition: 1s;
    transition: 1s; }
    .process-item > .num:hover {
      -webkit-box-shadow: 0 0 0 400px #000;
      box-shadow: 0 0 0 400px #000; }
  .process-item > .box-text {
    padding: 30px 0px 0px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center; }
    .process-item > .box-text > .title {
      font-size: 1.25rem;
      font-weight: bold;
      padding: 0px 0px 15px 0px; }
    .process-item > .box-text > .text {
      font-size: 1rem;
      line-height: 1.8rem; }

/* Team */
.team {
  padding: 70px 0px 70px 0px; }

.team-item {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  max-width: 280px;
  height: 300px;
  margin: auto; }
  .team-item > .box-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: 0.5s;
    transition: 0.5s; }
    .team-item > .box-img > .img {
      width: 100%; }
  .team-item > .box-text {
    position: absolute;
    width: 100%;
    height: 70%;
    bottom: -100%;
    padding: 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    -webkit-transition: 0.5s;
    transition: 0.5s; }
    .team-item > .box-text > .title {
      font-size: 1.25rem;
      font-weight: bold;
      color: #fff;
      display: block; }
    .team-item > .box-text > .subtitle {
      font-size: 1rem;
      font-weight: bold;
      color: #fff; }
    .team-item > .box-text > .text {
      font-size: 1rem;
      color: #fff; }
    .team-item > .box-text > .box-social {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
      .team-item > .box-text > .box-social i {
        font-size: 1.5rem;
        color: #fff;
        margin: 0px 10px 0px 10px; }
  .team-item:hover > .box-text {
    bottom: 0;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    background: -webkit-gradient(linear, left bottom, left top, from(#000), to(transparent));
    background: linear-gradient(0deg, #000, transparent); }

.margem-item {
  padding-bottom: 30px; }

/* work */
.work {
  padding: 70px 0px 70px 0px; }

.work-item {
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden; }
  .work-item > .box-img > img {
    width: 100%; }
  .work-item > .hover-box-text {
    width: 0;
    top: 0;
    height: 100%;
    position: absolute;
    background: #000;
    overflow: hidden;
    -webkit-transition: .5s;
    transition: .5s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; }
    .work-item > .hover-box-text > .box-text {
      padding: 0px 0px 20px 20px; }
      .work-item > .hover-box-text > .box-text > .title {
        font-size: 1.5rem;
        font-weight: bold;
        color: #fff; }
      .work-item > .hover-box-text > .box-text > .description {
        color: #fff; }
  .work-item:hover > .hover-box-text {
    width: 100%;
    -webkit-transition: .5s;
    transition: .5s; }

/* contacts */
.contact {
  padding: 70px 0px 70px 0px; }

.contact-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%; }
  .contact-item > .email {
    font-size: 1.25rem;
    color: #000; }
    .contact-item > .email > a {
      color: #000; }
      .contact-item > .email > a:hover {
        color: #828282;
        text-decoration: none; }
  .contact-item > .numberTel {
    margin: 30px 0px 50px 0px;
    font-size: 1.25rem;
    color: #000;
    font-weight: 600;
    text-align: center; }
    .contact-item > .numberTel > a {
      color: #000; }
      .contact-item > .numberTel > a:hover {
        color: #828282;
        text-decoration: none; }
  .contact-item > .address {
    font-size: 1.25rem;
    text-align: center; }
  .contact-item .box-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    padding-top: 30px; }
    .contact-item .box-icon > li {
      list-style: none; }
      .contact-item .box-icon > li > a {
        color: #000;
        font-size: 37px;
        padding: 0px 10px 0px 10px; }
        .contact-item .box-icon > li > a > i:hover {
          color: #828282; }

.footer {
  padding: 70px 0px 70px 0px; }

.footer-item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center; }

.brand-foo {
  margin-bottom: 30px; }
