body {
  font-family: "Montserrat", sans-serif; }

/* header - nav */
.wrapper-box {
  width: 100%;
  height: 100vh;
  background-image: url("../img/bg.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover; }

.navbar {
  padding: 20px 0px 20px 0px; }

.brand-box {
  width: 60px; }

/* header - nav - menu */
.menu-box > .list {
  margin: 0px 15px; }
  .menu-box > .list > .link {
    color: #000;
    font-weight: 500; }

.banner-content {
  background-color: transparent;
  height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.banner-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center; }
  .banner-box > .title {
    font-size: 4rem;
    font-weight: 900;
    letter-spacing: .1rem;
    text-transform: uppercase; }
  .banner-box > .title-b {
    font-size: 2.25rem;
    font-weight: 900;
    letter-spacing: .1rem;
    text-transform: uppercase; }
